{% extends 'shop/basic2.html' %}
{% load static %}
{% block title %}<title>Logged Out</title>{% endblock %}


{% block navlist %}
<li class="nav-item"><a class="nav-link js-scroll-trigger navcol" style="color: #fed136; font-weight: bolder;">Login</a>
</li>
<li class="nav-item"><a href="{% url 'SignUp' %}" class="nav-link js-scroll-trigger navcol">Signup</a></li>
<a href="{% url 'Cart' %}" class="nav-link js-scroll-trigger navcol cartcol"
    style="margin-left: 5px; margin-right: -326px; margin-top: -16px; width: 26%;"><i class="fab fa-opencart nav-item"
    style="width: 110%; height: 50px; margin-top: -11%; margin-bottom: -20%; margin-right: -79.5%;"></i>
    </li><span id="cart">0</span></a>

{% endblock %}
{% block masthead %}

<style>
    body.bodypic {
        padding-top: 10.5rem;
        padding-bottom: 6rem;
        text-align: center;
        color: #fff;
        background-image: url("{% static 'shop/pics/h44.jpg' %}");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: cover;
    }
</style>

<!-- {% for message in messages %}
<div class="alert alert-{{ message.tags }}" style="margin-top: 86px;"role="alert">
    <h4 class="alert-heading" style="text-transform: uppercase;">{{ message.tags }}!</h4>
    <p>{{ message }}</p>
    <hr>
  </div>
{% endfor %} -->


<header class="masthead mhdefault" style="padding-top: 1.5rem;">
    <div class="signupwidth" style="background-color: rgba(0,0,0,0.7); border-radius: 76px;">
        
        <div class="masthead-heading text-uppercase"
            style="color: #fed136; text-shadow: 2px 2px 18px black; line-height: inherit; font-size: 300%;">
            Logged Out Successfully</div>

        <a href="{% url 'ShopHome' %}" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" style=" margin-top: 4%;" >Go Back To Shop</a>

    
    </div>
</header>

{% endblock %}


{% block js %}

<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }
  $('.cart').click(function () {
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = 1;
    }
    else {
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });

</script>

{% endblock %}