{% extends 'shop/basic1.html' %}

{% block title %}<title>SignUp</title>{% endblock %}


{% block navlist %}
<li class="nav-item"><a href="{% url 'ShopHome' %}" class="nav-link js-scroll-trigger navcol">Shop</a></li>
{% if user.is_authenticated%}
<li class="nav-item"><a href="{% url 'Dashboard' %}" class="nav-link js-scroll-trigger navcol" style="color: brown; font-weight: bolder;">Welcome
        {{request.user}}</a>
</li>
<li class="nav-item"><a class="nav-link js-scroll-trigger navcol" style="color: brown; font-weight: bolder;">Signup</a></li>
<a href="{% url 'Cart' %}" class="nav-link js-scroll-trigger navcol cartcol"
                        style="margin-left: 5px; margin-right: -326px; margin-top: -8px; width: 20%;"><i
                            class="fab fa-opencart nav-item"
                            style="width: 100%; height: 40px; margin-top: -11%; margin-bottom: -13%; margin-right: -68%;"></i>
                        </li><span id="cart">0</span></a>
{% else %}
<li class="nav-item"><a  href="{% url 'Login' %}" class="nav-link js-scroll-trigger navcol">Login</a>
</li>
<li class="nav-item"><a class="nav-link js-scroll-trigger navcol" style="color: brown; font-weight: bolder;">Signup</a></li>
<a href="{% url 'Cart' %}" class="nav-link js-scroll-trigger navcol cartcol"
                        style="margin-left: 5px; margin-right: -326px; margin-top: -8px; width: 20%;"><i
                            class="fab fa-opencart nav-item"
                            style="width: 100%; height: 40px; margin-top: -11%; margin-bottom: -15%; margin-right: -73.5%;"></i>
                        </li><span id="cart">0</span></a>
{% endif %}
{% endblock %}

{% block masthead %}

<header class="masthead mhdefault">
    <div class="signupwidth">
        <div class="masthead-subheading" style="color:#212529; font-size: 3.0rem;">Sign Up</div>
        <!-- <div class="masthead-heading text-uppercase" style="color:#212529;"></div> -->
        <!-- <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#services">Tell Me More</a> -->
        <form action="/shop/signup/" method="POST" style="border:1px solid #ccc; border-radius: 8px;" class="contactForm">
            <div class="container">{% csrf_token %}
                <h1 class="check-control" style="font-size: 2.0rem;">Make An Account</h1>
                <p class="check-control">Draw Your Own Business</p>
                <hr>

                <div class="form-group">
                    <label for="Username" class="check-control"><b>Username</b></label>
                    <i class="fas fa-user" style="color: #fed136;"></i>
                    <input type="text" placeholder="Enter Userame" class="form-control" name="username"
                        style="width: 85%;" required>
                </div>

                <div class="form-group">
                    <label for="fname" class="check-control"><b>First Name</b></label>
                    <i class="fas fa-user-tie" style="color: #fed136;"></i>
                    <input type="text" placeholder="Enter First Name" class="form-control" name="fname"
                        style="width: 85%;" required>
                </div>

                <div class="form-group">
                    <label for="lname" class="check-control"><b>Last Name</b></label>
                    <input type="text" placeholder="Enter Last Name" class="form-control" name="lname"
                        style="width: 85%;" required>
                </div>

                <div class="form-group">
                    <label for="email" class="check-control"><b>Email</b></label>
                    <i class="fas fa-envelope" style="color: #fed136;"></i>
                    <input type="text" placeholder="Enter Email" class="form-control" name="email" style="width: 85%;"
                        required>
                </div>

                <div class="form-group">
                    <label for="psw" class="check-control"><b>Password</b></label>
                    <i class="fas fa-key" style="color: #fed136;"></i>
                    <input type="password" placeholder="Enter Password" class="form-control" name="psw"
                        style="width: 85%;" required>
                </div>

                <div class="form-group">
                    <label for="psw-repeat" class="check-control"><b>Repeat Password</b></label>
                    <i class="fas fa-redo" style="color: #fed136;"></i>
                    <input type="password" placeholder="Repeat Password" class="form-control" name="psw-repeat"
                        style="width: 85%;" required>
                </div>

                <div class="form-group">
                    <label class="check-control">
                        <input type="checkbox" checked="checked" name="remember" class="signupform"
                            style="margin-bottom:15px"><b> Remember me</b>
                    </label>
                </div>

                <p class="webfont">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms &
                        Privacy</a>.</p>

                <div class="clearfix">
                    
                    <button type="submit" class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Sign Up</button>
                </div>
        </form>
    </div>
</header>

{% endblock %}


{% block js %}

<script>
  console.log('working');
  if (localStorage.getItem('cart') == null) {
    var cart = {};
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  }
  $('.cart').click(function () {
    console.log('clicked');
    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined) {
      cart[idstr] = 1;
    }
    else {
      cart[idstr] = 1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
  });

</script>

{% endblock %}